<template>
  <div class="nav-container">
    <nav>
      <h1>{{title}}</h1>
    </nav>
  </div>
</template>


<script>
export default {
  name: 'nav-bar',
  props: {
    title: String,
  },
}
</script>

<style scoped>
  .nav-container {
    display: flex;
    justify-content: space-around;
    background-color: #06D19C;
    height: 100px;
  }

  h1 {
    font-size: 2em;
    color: #F0F0F0;
  }
</style>

