<template>
  <div class="container">
    <h2>{{ title }}</h2>
    <table class="task-table" v-if="tasks.length > 0">
      <tbody>
        <tr v-for="task in tasks" v-bind:key="task.id">
          <td><button @click="$emit('delete:task', task.id)">X</button></td> 
          <td class="table-data" :class="{ 'strikeOut': statusToggle }">{{task.text}}</td>
          <td class="table-data">edit</td>
          <td class="table-data"><input type="checkbox" v-model="statusToggle" @click="$emit('update:task', task.id)"></td>
        </tr>
      </tbody>
    </table>
    <p v-else>You have nothing left to do!</p>
    <p v-if="statusToggle === true" class="success-message">Task marked completed!</p>
  </div>
</template>

<script>
export default {
  name: 'task-list',
  data() {
    return {
      statusToggle: false
    }
  },
  props: {
    tasks: Array,
    title: String,
  }
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  align-self: center;
}

tr:nth-child(odd) {
  background-color: #F7F7F7;
}

.task-table {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
}

.table-data{
  padding: 10px;
}

button {
  color: whitesmoke;
  background-color: red;
  border: none;
  font-size: 1em;
  box-shadow: 1px 1px darkred;
}

.strikeOut {
  text-decoration: line-through;
}

 [class*='-message']{
    font-weight: 600;
  }

.success-message {
    color: #06D19C;
  }
  
</style>


