<template>
<div class="form-container">
  <!-- <h2>Todo Task Tracker</h2> -->
  <form id="task-form" @submit.prevent="handleSubmit" class="form">
    <input 
      type="text" 
      v-model="task.text" 
      placeholder="Enter Task"
      :class="{ 'has-error': submitting && invalidTask }"
    >
    <button class="rounded hollow">Add</button>
    <p v-if="error && submitting" class="error-message">❗Task field required</p>
    <p v-if="success" class="success-message">✅Task sucessully added</p>
  </form>
  
</div>
</template>

<script>
export default {
  name: 'task-form',
  data(){
    return {
      submitting: false,
      success: false,
      error: false,
      task: {
        text:'',
      }
    }
  },
  methods: {
    handleSubmit() {
      this.submitting = true
      this.clearStatus()

      if(this.invalidTask){
        this.error = true
        return
      }
      this.$emit('add:task', this.task)
      this.task = {
        text: '',
      }
      this.error = false
      this.success = true
      this.submitting = false

    },
    clearStatus() {
      this.success =  false
      this.error = false
    }
  },
  computed: {
    invalidTask(){
      return this.task.text === ''
    }
  }
}
  
</script>

<style scoped>
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 1.125em;
    text-align: center;
  }
  .has-error {
    border-color: red;
  }

  button {
    width: 9.375em;
    height: 3.125em;
    font-size: 1.125em;
    text-transform: uppercase;
  }

  .rounded {
    border-radius: 50px;
    padding: 3px;
  }

  .hollow {
    background-color: transparent;
    border: 3px solid #06D19C;
  }

  button:hover {
    background-color: #06D19C;
    border: none;
  }

  [class*='-message']{
    font-weight: 600;
  }

  .error-message {
    color: red;
  }
  
  .success-message {
    color: #06D19C;
  }
</style>



