<template>
  <div id="app">
    <nav-bar title="Tasks Tracker App"/>
    <task-form @add:task="addTask"/>
    <task-list 
      :tasks="tasks" 
      title="Tasks List"
      @delete:task="deleteTask"
    />
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
import TaskForm from '@/components/TaskForm.vue'
import TaskList from '@/components/TaskList.vue'

export default {
  name: 'app',
  components: {
    NavBar,
    TaskForm,
    TaskList
  },
  data() {
    return {
      tasks: [],
    }
  },
  mounted() {
    const tasks = JSON.parse(localStorage.getItem('tasks'))
    if(tasks){
      this.tasks = tasks
    }
  },
  methods: {
    addTask(task) {
      const lastElementId = this.tasks[this.tasks.length -1]
      const lastId = this.tasks.length > 0 ? lastElementId.id : 0
      const id = lastId + 1
      const newTask = {...task, id}
      this.tasks = [...this.tasks, newTask]
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
    },
    deleteTask(id) {
      this.tasks = this.tasks.filter(task => task.id !== id)
      localStorage.setItem('tasks', JSON.stringify(this.tasks))
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
#app {
 font-family: 'Comfortaa', cursive;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}
</style>
